extends ./template

block title
    title=  "Главная"

//- block header    
//-     include block/header
block main
    main.page 
        include home/main_block
        include home/intro
        include home/work_examples
    //- h1 hello
    //- div 
    //-     img(src="@img/cover.jpg", alt="")
    //- +cat()
    //- div
    //-     img(src="@img/txt_icon.svg", alt="")
    //- div(class="icon-box")
    //-     img(src="./images/icons/icons.svg#allergy-food-label-5-svgrepo-com" class="svg-basic-connection-internet-2-svgrepo-com-dims")
block footer 
    include block/footer
