extends ./template

block title
    title=  "NeuroNails"

block main
    main.page 
        include home/main_block
        include home/intro
        include home/work_examples
block footer 
    include block/footer
