
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="ie=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0,  maximum-scale=1, user-scalable=0")
//- meta(name="theme-color" content="#8F67A4")
link(
    rel="stylesheet",
    type="text/css",
    media="all",
    href='./css/style.min.css'
)