header.header-wrap
    .container
        .header
            nav.navbar
                ul.navbar_list
                    li.navbar_item
                        a.navbar_link(href="/") Home
                
