.main-block-wrap
  position: relative
  width: 100%

.main-block-bg
  width: 100%
  height: 130px
  &_
    &pic
      width: 100%
      height: 100%
      object-fit: cover
      object-position: center

.main-block
  position: absolute
  width: 100%
  height: 100%
  padding: 3px
  top: 0px
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  color: var(--theme-color-white)
  text-align: center
  &_
    &title
      text-transform: uppercase
      margin-bottom: 10px
      font-size: 22px
      font-weight: 900
      text-decoration: underline
      line-height:1.7em
      letter-spacing:0.1em
      &--
        &no-line-break
          white-space: nowrap
    &subtitle
      font-size: 18px
      font-weight: 600
      font-style: italic
      line-height: 1.2em
