section.intro-wrap
  .container
    .intro 
      p.intro_text We are the Bot Byte and we make the Artificial Intelligence invent and draw for you new manicure designs. 
      p.intro_text Probably, you often see the news about modern achievements of the Artificial Intelligence and neural 
                  | networks. And their development is undoubtedly one of the greatest breakthroughs in the sphere of high technology. 
                  | However, all the news focuses on philosophic talks about possible consciousness of AI and danger of disappearance 
                  | of a great number of professions because of the AI development. And it’s even without considering the meatbags
                  | ’ fear to become batteries :)))
      p.intro_text We are from the Ukraine and despite of what is happening around us, we would like to show you that this world 
                  | still has something positive. And what could be more positive and funnier than making one of the greatest 
                  | high-technology inventions of humanity develop new manicure designs? Moreover, no invention can be called 
                  | successful unless it is useful for the beautiful half of humanity.
      p.intro_text Our dream and final goal are to create an application that will generate a manicure design using a photo of your hand in real time.
      p.intro_text You can help our project to develop by donating us a couple of dollars. However, the best support and acknowledgement 
                  | you can give us is a video or a photo posted with our manicure design on your nails, the hashtag #Bot_Byte_nails and 
                  | the link on our website or Pinterest. 
      p.intro_text.intro_text--strong Everyone who donates to the development of our project, we will send a gift individual design, which is not publicly available. 
                  | Only one person will have this design – you
      p.intro_text.intro_text--end Stay tuned, with love, Bot Byte.
      a.btn(href="https://www.paypal.com/donate/?hosted_button_id=J5T3TZLS8GBB4" target="_blank")
        span.btn_text Donate