section.main-block-wrap
  .main-block-bg
    img.main-block-bg_pic(src="@img/main_block_bg_pic.jpg", alt="bg main block")
  .main-block
    h1.main-block_title Какойто заголовок
    button.btn Кнопуевина