section.main-block-wrap
  .main-block-bg
    img.main-block-bg_pic(src="@img/main_block_bg_pic.jpg", alt="bg main block")
  .main-block
    h1.main-block_title  Nail art evolved: 
      br
      span.main-block_title1.main-block_title--no-line-break AI-powered designs
    h3.main-block_subtitle Experience the precision and beauty of AI-designed manicure
    