section.work-examples-wrap
  .container
    .work-examples
      .work-examples_item
        img.work-examples_photo(src="@img/Vladomorph_A_Latvian_flag_manicure_would_involve_painting_the_n.png", alt="case example")
      .work-examples_item
        img.work-examples_photo(src="@img/Vladomorph_A_manicure_on_long_womens_nails_with_the_British_fla.png", alt="case example")
      .work-examples_item
        img.work-examples_photo(src="@img/Vladomorph_A_manicure_on_long_womens_nails_with_the_German_flag.png", alt="case example")
      .work-examples_item
        img.work-examples_photo(src="@img/Vladomorph_An_Australian_flag_manicure_would_involve_painting_t.png", alt="case example")
      .work-examples_item
        img.work-examples_photo(src="@img/Vladomorph_Another_option_for_a_manicure_on_long_womens_nails_w.png", alt="case example")
      .work-examples_item
        img.work-examples_photo(src="@img/Vladomorph_Another_option_for_a_manicure_on_long_womens_nails_w (2).png", alt="case example")
      .work-examples_item
        img.work-examples_photo(src="@img/Vladomorph_Another_option_for_a_manicure_on_long_womens_nails_w (3).png", alt="case example")
      .work-examples_item
        img.work-examples_photo(src="@img/Vladomorph_Another_option_for_a_manicure_on_long_womens_nails_w (4).png", alt="case example")
      .work-examples_item
        img.work-examples_photo(src="@img/Vladomorph_Another_option_would_be_to_create_a_3D_design_by_usi.png", alt="bg main block")
      .work-examples_item
        img.work-examples_photo(src="@img/Vladomorph_A_Spanish_flag_manicure_would_involve_painting_the_n.png", alt="case example")
        