body
  position: relative
  display: flex
  flex-direction: column
  min-height: 100vh
  color: var(--text-color-base)
  font-family: open sans condensed,sans-serif

.page
  flex: 1
  

.not-scroll
  overflow: hidden

.container
  --container-width: 100%
  width: var(--container-width)
  margin: 0 auto
  padding: 0 15px

@media (min-width: 576px)
  .container
    --container-width: var(--mq-size-sm)

    .footer
      flex-direction: row
      justify-content: space-between

    .work-examples
      justify-content: space-evenly
      &_
        &item
          width: 230px
          height: 230px
  .footer-wrap
    height:200px

@media (min-width: 768px)
  .container
    --container-width: var(--mq-size-md)

    .work-examples
      &_
        &item
          width: 290px
          height: 290px

  .main-block-bg  
    height: 200px

  .main-block
    &_
      &title
        font-size: 40px
      &subtitle
        font-size: 22px

  .footer-wrap
    .soc-icons
      &_
        &item
          &:hover
              background: var(--theme-color-secondary)
              padding: 0  
  
  .btn 
    &:hover
      background: var(--theme-color-secondary)
      border-radius: 0
      box-shadow: 0px 3px 8px 0px rgba(34, 60, 80, 0.2)
    &:active
      box-shadow: none
  
@media (min-width: 1024px)
  .container
    --container-width: var(--mq-size-lg)

    .work-examples
      &_
        &item
          margin: 25px 10px
          width: 370px
          height: 370px

  .main-block-bg
    height: 250px

  .main-block
    &_
      &title
        font-size: 50px
      &subtitle
        font-size: 24px


@media (min-width: 1366px)
  .container
    --container-width: var(--mq-size-xl)

    .work-examples
      &_
        &item
          margin: 45px 10px
          width: 400px
          height: 400px
  