:root {
  --mq-size-sm: 540px;
  --mq-size-md: 716px;
  --mq-size-lg: 960px;
  --mq-size-xl: 1170px;

  --theme-color-base: #564A8A;
  // --theme-color-secondary: #BFBFBF;
  --theme-bg-base: #FCFAFA;
  --theme-bg-secondary: #F9F4F2;
  // --theme-bg-modal: #DBDBDB;
  // --theme-color-error: #BC3850;

  --text-color-base: #272727;
  // --text-color-secondary: #fff;
  // --text-color-three: #211381;
  
  // --btn-color-base: #FED305;
  // --link-color-base: #3314ff;
}